.outline {
    border: 1px black solid;
}

.profilepic {
    float: left;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: url("../images/rockywall.png");
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.navbar {
    padding: 0 0 0 0;
    
}

    .navbar-text {
        
        padding: 20px 0 0 0;
        height: 100px;
    }

.navbaralltheway {
    background: #ffffff;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: solid 1px #cccccc;

}

    .navbartitle {
        box-sizing: border-box;
        background: #4aaaa5;
        color: white;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
    
    }
           
    /* Contact link deocrations */
    .contactlinks {
        font-size: 20px;
    }

        element.style {
        }

        a:visited {
            text-decoration: none;
        }
        a:link {
            text-decoration: none;
        }
        a {
            color: #777777;
            text-decoration: none;
        }

.container1 {
    padding-top: 25px;
    padding-bottom: 25px;
}


.aboutme {
    background: #ffffff;
    border-top: #dddddd solid 1px;
    border-right: #dddddd solid 1px;
    border-left: #dddddd solid 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #4aaaa5;
    font-weight: bold;
    padding: 15px 15px;
}

.row2 {
    background: #ffffff;
    border-bottom: #dddddd solid 1px;
    border-right: #dddddd solid 1px;
    border-left: #dddddd solid 1px;
}